<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31"
        android:theme="@style/Theme.Addpost">

        <!--Google Map API-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDChYA47ciPdnpQHHWL3g6AzP7xg31uSQU"/>

        <!-- Activities -->
        <activity android:name="com.example.projectgoteat.UI.main.board.CartActivity" />
        <activity android:name="com.example.projectgoteat.UI.main.board.addPost.PlacePickerActivity" />
        <activity android:name="com.example.projectgoteat.UI.main.myItemList.chat.ChatActivity" android:exported="true" android:parentActivityName="com.example.projectgoteat.UI.main.myItemList.MyItemList">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.example.projectgoteat.UI.main.myItemList.MyItemList" />
        </activity>
        <activity android:name="com.example.projectgoteat.UI.main.board.addPost.AddpostActivity" android:exported="true">
        </activity>
        <activity android:name="com.example.projectgoteat.UI.main.myPage.review.ReviewActivity" android:exported="false" />
        <activity android:name="com.example.projectgoteat.UI.main.myPage.scrap.ScrapActivity" android:exported="false" />
        <activity android:name="com.example.projectgoteat.UI.main.myPage.pointHistory.PointHistoryActivity" android:exported="false" />
        <activity android:name="com.example.projectgoteat.UI.main.myPage.MyPageActivity" android:exported="false" />
        <activity android:name="com.example.projectgoteat.UI.auth.SignupActivity" android:exported="false" />
        <activity android:name="com.example.projectgoteat.UI.main.MainActivity" android:exported="false" />
        <activity android:name="com.example.projectgoteat.UI.auth.LoginActivity" android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MyItemList 액티비티 선언 추가 -->
        <activity android:name="com.example.projectgoteat.UI.main.myItemList.MyItemList" android:exported="true" />
        <activity android:name="com.example.projectgoteat.UI.main.board.FullscreenImageActivity" android:exported="false" />
    </application>
</manifest>
